# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# 环境
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# 系统
.DS_Store
Thumbs.db
nul


video-analysis/video-analysis/downloads/jujutsu_kaisen_season_3_Recap_cartoon_1.webm
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/_metadata.json
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/_video_urls.txt
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用，#商业航天，#消费，短线风向标。大家看视频帮我点点赞。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用。#AI算力边缘算力大模型。#电网电力设备。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用。#光纤概念。#电网设备。#AI影视传媒.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用。#化工原料__。#商业航天。_#春节红包行情，超强的理解力，天赋异禀的马前炮。_@比亚迪王朝_#春节开秦宋的N个理由.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用。#即梦AI，#AI抖音版随便。#商业航天。#春节消费红包。2026年AI应用爆发大年。_@比亚迪王朝_#春节开秦宋的N个理由.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用。#商业航天，#化工化纤。高抛低吸，抱团趋势。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用AI算力AI营销AI智能体，AI大模型。2月4号分析AI应用被误杀的视频已置顶大家观看。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用叠加云算力，#春节红包行情，#化工涨价资金异动。兄弟们，看了视频，帮我点点赞。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用强势回归，坚定信仰。_AI应用由弱人工智能到强人工智能到超级人工智能，一路跟随永不放弃。_入市需谨慎，投资有风险，个人观点仅供参考学习。。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI应用软件。影视传媒。#太空光伏。知识分享。理性投资。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI影视传媒，#人形机器人。#太空光伏。大家认可，点点小红心！.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI影视影视传媒如期反包，华为AI能力。大涨。AI应用具身机器人。值得期待。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI算力，云算力。#商业航天。#AI红包大战。#春节消费，#机器人上春晚。粉丝朋友们，你们围绕这三大方向。关注我短线不迷路。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#AI运用影视传媒大爆发涨停潮，弱市切抱团。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#上热门_#AI算力租赁。#AI医疗。#AI影视传媒。#今日股市利好，知识分享不构成投资建议。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#上热门，_#春节股市利好。#北京炒家。知识分享不构成投资建议。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#上热门，#春晚股市利好，#北京炒家，养成良好的学习习惯，是悟道的基石。@北京炒家_@全能的野人.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#上热门🔥_#AI应用叠加云算力。#AI影视传媒。#AI智能体。#机器人。@北京炒家_北京炒家不是路过偶遇，是过来看兄弟们，实锤了大家常回来看看。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#上热门🔥_#机器人。#豆包。#AI人工智能体。#春节股市利好，知识分享仅供参考。@全能的野人_@北京炒家.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#云算力，#商业航天。#消费。入市需谨慎，个人观点，不构成交易建议。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#交易系统知识分享。低吸高抛。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#商业航天，星辰大海。全网第1个我讲的不是把你挂在太空，是送你去太空观光旅游，安居乐业。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#春节红包行情，#AI应用叠加AI算力。各位粉丝朋友们，每天准点准时看我早盘，午盘，收盘分析，短线不迷路。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#正能量_#知识分享_千万不要追涨杀跌，非短线高手不要轻易开仓，一定要做短线，对春节有预期概念你就买绿卖红，亏钱是因为你菜不是市场不好。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/#长征10号回收成功，祝我们国家越来越强大。#AI应用。今天分歧，后续转一致。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/2026年2月12号，星期四。抖音股市早报_#AI应用华为云代码（码道）智能万人公测，美国Meta投资100亿一吉瓦，Google，2000亿收购云计算，Dee.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/交易模式的知识分享，是你黑暗中的一盏灯。适合做短线，波段，趋势和长线。为什么你买到牛股你拿不住赚不到大钱，这个视频就可以解决你交易技术的问题。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/别追涨杀跌，买绿卖红。三条信息很重要，耐心看完。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/听党话，跟党走，感恩党。坚定看好A股市场整体向上。兄弟们打在评论区。不要亏了怨天怨地，那是因为你水平菜。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/总结如下竞价弱转强的理想环境是：处于情绪上升期_+_板块有联动_+_指数分时向上_+_个股是龙头。如果其中2-3项不达标，建议谨慎参与，个人观点不构成投资建议。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/明天的AI应用气势如虹，今天割肉是给你一个教训，以后记得别追涨杀跌。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/明天的消费你有期待吗？拭目以待。#.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/相信，相信的力量。不要一跌就是熊市一涨又无脑的看牛市跟紧节奏_#金融常识普及.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/祝各位AI好运。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/祝福大家；新年快乐！家庭幸福！身体健康！一路长虹！马上有钱。祝福我们的国家繁荣昌盛！国泰平安！锦绣中华！祖国万岁！爱你们。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/视频_32.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/解读竞价弱转强的表象及特征，下一集视频解读竞价弱转强所需要的环境，该弱不弱则为强，该强不强则为弱，也就是我们常说的分歧转一致。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/评论区点赞最多的一条每天用一个视频讲解。.mp4
video-analysis/video-analysis/downloads/勇哥说财经 - 抖音/请把你们的问题和交易经验_大胆说出来，供大家一起学习交流，勇哥愿意永远当你们的小助手。@北京炒家_@全能的野人_@闲闲老公.mp4
