# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# 环境
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# 系统
.DS_Store
Thumbs.db
nul


video-analysis/video-analysis/downloads/
video-analysis/video-analysis/video-analysis-cleaner/models/
